<div class="container">
    <div class="search-bar">
        <nz-input-group nzSearch nzAddOnBefore="URL:" [nzAddOnAfter]="suffixIconButton">
            <input type="text" #url placeholder="..." nz-input (keyup.enter)="onKeyEnter(url.value)" />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="onSearch(url.value)"><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div>

    <div class="history">
        <div class="fav-box">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
</div>
