@mixin cbox($width:1px, $color:red) {
    border: $width solid $color;
}

nz-tabset{
    @include cbox(3px, green);
    flex: 1;

    .ant-tabs-tabpane{
        height: 100%;
        @include cbox(3px, red);
    }
}

webview{
    flex: 1;
    // @include cbox(3px, blue);
    width: 100%;
    height: 100%;
}

