<div class="addr-bar">
    <nz-button-group>
        <button nz-button nzType="primary" (click)="goBack()"><i nz-icon nzType="left"></i></button>
        <button nz-button nzType="primary" (click)="goHome()"><i nz-icon nzType="home"></i></button>
        <button nz-button nzType="primary" (click)="goForward()"><i nz-icon nzType="right"></i></button>
    </nz-button-group>

    <app-search-bar (search)="onSearch($event)"></app-search-bar>

    <!-- nzShape="round" -->
    <nz-badge [nzCount]="_web.plugins.length">
        <button nz-button nzType="primary" [nzSize]="40" nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottomRight">
            <i nz-icon nzType="unordered-list" nzTheme="outline"></i>Plugins
        </button>
    </nz-badge>
    
    <!-- <ng-template #titleTemplate><i nz-icon nzType="close"></i> Title</ng-template> -->
    <ng-template #contentTemplate>
        <nz-table #basicTable [nzData]="_web.plugins">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.status}}</td>
                <td>
                    <a (click)="onActivePlugin(data)">Active</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="onDeactivePlugin(data)">Deactive</a>
                </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>     
</div>

<webview [attr.src]="url" nodeintegration allowpopups></webview>
